KEY=pasword
PORT=1234
MONGOHQ_URL=mongodb://@localhost:27017/bbdd

#deAprendices
twitter_consumer_key=consumer_key
twitter_consumer_secret=consumer_secret
twitter_access_token=access-token
twitter_access_token_secret=access_token_secret

karmacracy_username=username
karmacracy_password=url_key

env=test